.bus {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.seat {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
}

.seat.libre {
    background-color: #2ecc71;
    color: white;
}

.seat.occupee {
    background-color: #e74c3c;
    color: white;
    cursor: not-allowed;
}

.seat.selected {
    background-color: #f39c12;
}

.chauffeur {
    width: 50px;
    height: 45px;
    background: #34495e;
    color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}
